body{
    background: url(../img/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.data1{
    background: rgba(0,0,0,0.5);
    height: 500px;
    border-radius: 10px;
    margin-top: 100px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    justify-content: space-around;
}
.data2{
    background: rgba(0,0,0,0.5);
    height: 500px;
    border-radius: 10px;
    margin-top: 100px;
    
}
.stat-card{
    background-color: rgba(250, 186, 9, 0.4);
    /* box-shadow: 0.5px 0px 0.2px 0.1px rgba(0,0,0,0.5); */
}
.ncard{
    background: rgba(28, 29, 1, 0.356);
}
.logo-img{
    height: 42px;
    width: 200px;
  }
.nav-bg{
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
}

.data-table{
    overflow-y: scroll;
    display: block;
    height: 290px;
    width: 900px;
}